html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 4rem;
  color: #800080;
}

.main-title {
  color: #800080;
}

.mainbird {
  border-radius: 25px;
  max-width: 50%;
  height: 50%;
}

.avatar {
  border-radius: 50%;
  height: 50px;
}

footer {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
}

.post-desc {
  font-style: italic;
}

.intro-box {
  display: flex;
  align-items: top;
}

.intro-text {
  margin: 20px;
  width: 50%
}

/* nav styles */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #800080;
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #9d9afd65;
  display: none;
  justify-content: space-between;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
a:focus {
  background-color: #9d9afd65;
  border-radius: 25px;
}

.expanded {
  display: unset;
}

.change.button {
  color: #0d9b92;
  border: 1px solid #800080;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #d7d6f3;
  padding: 10px;
}


/* Light and Dark Themes */

.dark body {
  background-color: #121214;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 1em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
    border-radius: 25px;
  }

  .hamburger {
    display: none;
  }
}

@media screen and (max-width: 636px) {
  .avatar {
    display: none;
  }
}
