---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'HOME';
---

<BaseLayout pageTitle={pageTitle}>
	<h1>{pageTitle}</h1>
	<h2>WELCOME!</h2>
  <div class="intro-box">
    <img
      class="mainbird"
      src="img/foss_bird.png"
      alt="a penguin using a computer"
    />
    <p class="intro-text">
      This is my personal blog with a myriad of articles about any subject.  It's a place where I can share my thoughts and opinions on things, also hopefully a place where I can be influenced and stimulate a conversation.
      <br />
      <br />
      Please read and feel free to send me a message or comment about what you've read.  I will read them all and post those that add to the conversation.
    </p>
  
  </div>
</BaseLayout>
