---
import BaseLayout from '../layouts/BaseLayout.astro';
import Quotes from '../components/Quotes';
import { quotes } from '../components/quoteList'
const pageTitle = 'HOME';

---

<BaseLayout pageTitle={pageTitle}>
	<h1>{pageTitle}</h1>
  
  
  <div class="intro-box">
    <img
      class="mainbird"
      src="img/foss_bird.png"
      alt="a penguin using a computer"
    />
    <p class="intro-text">
      This is my personal blog with a myriad of writings.  It's a place to share  my thoughts and opinions.
      <br />
      <br />
      I will read all comments sent to me and will add them to the conversation. All comments can be sent here:  fossbird@lightgreenmatcha.8shield.net.
      <br />
      <br />
      <br />
      While you're here, check out the quotes below.
    </p>
  </div>
  <Quotes client:load messages={quotes} />
</BaseLayout>
