---
import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>spaceMatcha</title>
  </head>
  <body>
    <img
      class="avatar"
      src="/img/foss_bird.png"
      alt="picture of a penguin at a computer"
    />
    <a href="../">HOME</a>
    <a href="/about/">ABOUT</a>
    <a href="/blog/">BLOG</a>
    <h1 class="main-title">WELCOME TO FOSSBIRD</h1>
    <img
      class="mainbird"
      src="img/foss_bird.png"
      alt="a penguin using a computer"
    />
    <h1>A nonsensical name for a nonsensical site!</h1>
  </body>
</html>
