---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'HOME';
---

<BaseLayout pageTitle={pageTitle}>
	<h1>{pageTitle}</h1>
	<h2>WELCOME TO FOSSBIRD</h2>
    <img
      class="mainbird"
      src="img/foss_bird.png"
      alt="a penguin using a computer"
    />
    <h2>
      Please enjoy the writing on this site. It is a blog with a
      meandering theme.
    </h2>
</BaseLayout>
