---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

const pageTitle = 'FOSSBIRD';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />

    <h1>WELCOME TO {pageTitle}</h1>
    <img
      class="mainbird"
      src="img/foss_bird.png"
      alt="a penguin using a computer"
    />
    <h2>
      Please enjoy the writing on this site. It is a blog with a
      meandering theme.
    </h2>
    <Footer />
    <script>
      import '../scripts/menu.js';
    </script>
  </body>
</html>
