---
---

<div class="nav-links">
  <img
    class="avatar"
    src="/img/foss_bird.png"
    alt="picture of a penguin at a computer"
  />
  <a href="/">HOME</a>
  <a href="/about/">ABOUT</a>
  <a href="/blog/">BLOG</a>
  <a href="/tags">TAGS</a>
</div>
